1. What are data structures, and why are they important?
-> Data structures are ways of organizing and storing data to perform operations efficiently.
   They are important because they provide a means to manage large amounts of data efficiently for tasks such
as search, insertion, deletion, and update

2. Explain the difference between mutable and immutable data types with examples?
-> Mutable data types can be changed after creation (e.g., lists, dictionaries), while immutable types cannot (e.g., strings, tuples).
For example, a list can have items added or removed, but a string
cannot be modified in place.

3.What are the main differences between lists and tuples in Python?
-> Lists are mutable and allow changes, while tuples are immutable and fixed. Lists use square
brackets [], while tuples use parentheses (). Lists are suitable for dynamic data, tuples for fixed data.

4. Describe how dictionaries store data.
-> Dictionaries store data in key-value pairs. Each key is unique, and is used to retrieve its
corresponding value efficiently using a hash table under the hood.
5. Why might you use a set instead of a list in Python?
-> A set is used instead of a list when you want to store unique elements only. Sets automatically
remove duplicates and are more efficient for membership checks.

6. What is a string in Python, and how is it different from a list?
->A string is a sequence of characters enclosed in quotes. Unlike lists, strings are immutable,
meaning their content cannot be changed after creation.

7. How do tuples ensure data integrity in Python?
-> Tuples are immutable, so once created, their contents cannot change. This ensures that the data remains consistent and secure throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
-> A hash table is a data structure that stores key-value pairs and uses a hash function to compute
the index for storing or retrieving values. Dictionaries in Python are implemented using hash tables.

9. Can lists contain different data types in Python?
-> Yes, lists in Python can contain elements of different data types, such as integers, strings, or
even other lists.

10.  Explain why strings are immutable in Python.
-> Strings are immutable because they are stored in memory in a fixed structure. Changing a string creates a new object instead of modifying the original.

11.  What advantages do dictionaries offer over lists for certain tasks?
-> Dictionaries provide fast lookups using keys, allow meaningful data labels, and are more efficient
than lists when searching by key.

12. Describe a scenario where using a tuple would be preferable over a list.
-> Tuples are preferable when the data should not change throughout the program, such as storing
fixed configurations or coordinates.

13. How do sets handle duplicate values in Python?
-> Sets automatically discard duplicate values. When elements are added, only unique elements
are kept.

14. How does the “in” keyword work differently for lists and dictionaries?
-> The 'in' keyword checks for element presence. In lists, it searches for a value. In dictionaries, it
checks if a key exists

15. Can you modify the elements of a tuple? Explain why or why not.
-> No, you cannot modify the elements of a tuple because it is immutable. Once created, its
content cannot be changed.

16. What is a nested dictionary, and give an example of its use case?
-> A nested dictionary is a dictionary inside another dictionary. It's useful for representing
hierarchical data, like a database of student records by ID.

17. Describe the time complexity of accessing elements in a dictionary.
-> Accessing an element in a dictionary takes O(1) time on average, due to the underlying hash
table implementation.

18.  In what situations are lists preferred over dictionaries?
-> Lists are preferred when you need to maintain order, allow duplicates, and iterate over items
sequentially.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-> Dictionaries are unordered and do not maintain insertion order. This affects
how data is retrieved or displayed

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
-> A list is ordered, indexed, and allows duplicates. A dictionary is unordered, uses key-value pairs,
and keys must be unique

In [3]:
#1. Write a code to create a string with your name and print it

name = "Subhajeet Bagchi"
print(name)

Subhajeet Bagchi

In [5]:
#2. Write a code to find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [7]:
#3. Slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
print(text[:3])

Pyt

In [9]:
#4. Convert the string "hello" to uppercase.

word = "hello"
print(word.upper())

HELLO

In [11]:
#5. Replace "apple" with "orange" in the string "I like apple".

sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [13]:
#6. Create a list with numbers 1 to 5 and print it.

numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [15]:
#7. Append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [17]:
#8. Remove the number 3 from the list [1, 2, 3, 4, 5].

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [19]:
#9. Access the second element in the list ['a', 'b', 'c', 'd'].

chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [21]:
#10. Reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [24]:
#11. Create a tuple with 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [26]:
#12. Access second-to-last element of the tuple.

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [27]:
#13. Find the minimum number in the tuple.

nums = (10, 20, 5, 15)
print(min(nums))

5

In [29]:
#14. Find index of "cat" in the tuple.

animals = ('dog', 'cat', 'parrot')
print(animals.index('cat'))

1

In [30]:
#15. Create a fruit tuple and check if "kiwi" is in it.

fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

In [31]:
#16. Create a set with elements 'a', 'b', 'c'.

s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [32]:
#17. Clear all elements from a set.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [33]:
#18. Remove 4 from the set.

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [34]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [35]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [37]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "Subhajeet", "age": 24, "city": "Kolkata"}
print(person)

{'name': 'Subhajeet', 'age': 24, 'city': 'Kolkata'}

In [39]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [42]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [43]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [44]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [46]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[22, 39, 45, 52, 53]

In [45]:
#28. Write a code to create a list with strings and print the element at the third index.

words = ['apple', 'banana', 'cherry', 'date']
print(words[2])

cherry

In [47]:
#29. Write a code to combine two dictionaries into one and print the result.

d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
merged = {**d1, **d2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
#30. Write a code to convert a list of strings into a set.

str_list = ['apple', 'banana', 'apple', 'orange']
str_set = set(str_list)
print(str_set)

{'banana', 'apple', 'orange'}